node_modules
.next
dist
build
.env
.env.local
*.db
*.db-journal
packages/api/generated
packages/api/src/generated
packages/app/public/sw.js
packages/app/public/sw.js.map
packages/app/public/workbox-*.js
packages/app/public/workbox-*.js.map
